<div class="d-flex flex-column min-vh-100">

    <% # Header %>
    <%= render "shared/header" %>

    <div class="flex-grow-1 container my-5">
    <h1>Contact Us</h1>
    <p><strong>Address:</strong> <%= @contact.address %></p>
    <p><strong>Email:</strong> <%= @contact.email %></p>
    <p><strong>Phone:</strong> <%= @contact.phone %></p>
    <p><strong>Opening Hours:</strong></p>
    <p><%= simple_format(@contact.opening_hours) %></p>
    </div>


    <% # Footer %>
    <%= render "shared/footer" %>

</div>
