<% # Header %>
<%= render "shared/header" %>

<div class="container my-5">
  <h1 class="text-center">Checkout</h1>

  <%= form_with model: @order, url: orders_path, local: true do |f| %>
    <div class="row">
      <div class="col-md-6">
        <h3>Shipping Address</h3>
        <div class="mb-3">
          <%= f.label :address, "Address" %>
          <%= f.text_field :address, class: "form-control", required: true %>
        </div>
        <div class="mb-3">
          <%= f.label :city, "City" %>
          <%= f.text_field :city, class: "form-control", required: true %>
        </div>
        <div class="mb-3">
          <%= f.label :postal_code, "Postal Code" %>
          <%= f.text_field :postal_code, class: "form-control", required: true %>
        </div>
        <div class="mb-3">
          <%= f.label :province_id, "Province" %>
          <%= f.collection_select :province_id, @provinces, :id, :name, {}, class: "form-select", required: true %>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Your Cart</h3>
        <ul class="list-group">
          <% @cart_items.each do |car_id, quantity| %>
            <% car = Car.find_by(id: car_id) %>
            <% next unless car %>
            <li class="list-group-item d-flex justify-content-between">
              <span><%= car.make %> <%= car.model %> (x<%= quantity %>)</span>
              <span>$<%= number_to_currency(car.price * quantity, unit: "") %></span>
            </li>
          <% end %>
        </ul>
        <h4 class="mt-3">Total: $<%= number_to_currency(@cart_items.sum { |car_id, quantity| Car.find_by(id: car_id)&.price.to_f * quantity }, unit: "") %></h4>
      </div>
    </div>
    <div class="text-end mt-4">
      <%= f.submit "Place Order", class: "btn btn-success" %>
    </div>
  <% end %>
</div>

<% # Footer %>
<%= render "shared/footer" %>