<% # Header %>
<%= render "shared/header" %>

<div class="container py-5">
  <h2 class="text-center">Car Categories</h2>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><%= category.name %></h5>
            <a href="<%= category_path(category) %>" class="btn btn-primary">Explore</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Add pagination links -->
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @categories %>
  </div>
</div>

<% # Footer %>
<%= render "shared/footer" %>