<% # Header %>
<%= render "shared/header" %>

<h1><%= @category.name %></h1>

<h2>Cars in this category:</h2>
<ul>
  <% @cars.each do |car| %>
    <li>
      <%= link_to "#{car.make} #{car.model} (#{car.year})", car_path(car) %>
    </li>
  <% end %>
</ul>

<div class="pagination d-flex justify-content-center mt-4">
  <%= paginate @cars %> <!-- Kaminari helper for pagination links -->
</div>

<% # Footer %>
<%= render "shared/footer" %>