<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "WRS Garage" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon and App Icons -->
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Importmap and JavaScript -->
    <%= javascript_importmap_tags %>
    <script src="https://www.paypal.com/sdk/js?client-id=<%= Rails.application.credentials.dig(:paypal, :client_id) %>"></script>

  </head>

<body>
  <% if flash.any? %>
    <div id="flash-messages">
      <% flash.each do |type, message| %>
        <div class="flash-message <%= type %>">
          <%= message %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= yield %>
</body>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const flashMessages = document.getElementById('flash-messages');
    if (flashMessages) {
      setTimeout(() => {
        flashMessages.remove(); // Removes the flash message after 5 seconds
      }, 5000); // 5 seconds
    }
  });
</script>
</html>
